<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1>
        <a href="/manager#">Manager</a>
      </h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>
  <section class="top-bar-section">
    <ul class="right">
      <li class="has-form">
        <a id="logout" class="alert button round">
          <i class="fi-power"></i>
        </a>
      </li>
    </ul>
  </section>
</nav>
<hr class="top-line-red"></hr>
<div class="main-content-wrap">
  <div id="main-left-bar" class="icon-bar large-vertical four-up float-left">
    <a class="item" href="#/other-half">
      <img src="fonts/svgs/fi-home.svg" >
      <label>Other half</label>
    </a>
<!--     <a class="item">
      <img src="fonts/svgs/fi-bookmark.svg" >
      <label>Bookmark</label>
    </a>
    <a class="item">
      <img src="fonts/svgs/fi-info.svg" >
      <label>Info</label>
    </a>
    <a class="item">
      <img src="fonts/svgs/fi-mail.svg" >
      <label>Mail</label>
    </a> -->
  </div>
  <div id="manager-content"></div>
</div>