<div id="main-article">
  <header id="search-button" class="search-button">
    <h1 class="centered-content">
      Наши девушки
    </h1>
  </header>
  <div id="search-filter-container" class="search-filter-container"></div>
  <div id="forms-profile-container" class="forms-profile-container">
    <br class="hard">
    <div id="forms-profile" class="forms-profile"></div>
    <div id="load-form-screen" class="load-form-screen">
      <div class="loader-container">
        <div class="loader"></div>
      </div>
    </div>
  </div>
</div>