<div id="main-article" class="main-article">
  <div class="centered-content">
    <h1>Предоставляемые услуги</h1>
    <br class="hard">
    <!-- <br class="hard"> -->
    <a class="submit-request" href="#/service/find-love">
      <div id="heart-icon">
        <div class="shadow-box"></div>
      </div>
      <br class="lite">
      <h2 class="title">Оставить заявку</h2>
      <br class="lite">
      <h3>Поможем найти вторую половинку</h3>
      <p>
        Более подробное описание
        <br>
        Некая информация о том что это услуга из
        <br>
        себя предоставляет более детально
      </p>
    </a>
    <br class="normal">
    <!-- <a class="button-pink">Оставить заявку</a> -->

    <br class="hard">
    <br class="hard">
    <!-- <br class="hard"> -->

    <!-- <h2>Хорошо провести время</h2> -->
    <br class="lite">
    <h3>Организация мероприятий</h3>
    <br class="lite">
    <p>
      Более подробное описание
      <br>
      Некая информация о том что это услуга из
      <br>
      себя предоставляет более детально
    </p>
<!--   <br class="hard">
  <a class="button-pink">Оставить заявку</a> -->

    <br class="hard">
    <br class="hard">
  <!-- <br class="hard"> -->

<!--   <h2>Найти </h2>
  <br class="lite"> -->
    <h3>Подобрать партнера</h3>
    <br class="lite">
    <p>
      Более подробное описание
      <br>
      Некая информация о том что это услуга из
      <br>
      себя предоставляет более детально
    </p>
    <br class="hard">
  <!-- <a class="button-pink">Оставить заявку</a> -->

  </div>
</div>
