<div class="centered-content">
  <!-- http://codepen.io/xdaniellin/pen/jEaLgX -->
  <h1>Предоставляемы услуги</h1>
  <br class="hard">
  <h2>Оставить заявку</h2>
  <br class="lite">
  <h3>Поможем найти вторую половинку</h3>
  <p>
    Более подробное описание
    <br>
    Некая информация о том что это услуга из
    <br>
    себя предоставляет более детально
  </p>
  <br class="normal">
  <!-- <a class="button-pink">Оставить заявку</a> -->

  <br class="hard">
  <br class="hard">
  <br class="hard">

  <h2>Хорошо провести время</h2>
  <br class="lite">
  <h3>Организация мероприятий</h3>
  <br class="lite">
  <p>
    Более подробное описание
    <br>
    Некая информация о том что это услуга из
    <br>
    себя предоставляет более детально
  </p>
<!--   <br class="hard">
  <a class="button-pink">Оставить заявку</a> -->

<!--   <br class="hard">
  <br class="hard">
  <br class="hard"> -->

<!--   <h2>Найти </h2>
  <br class="lite">
  <h3>Подборать партнера</h3>
  <br class="lite">
  <p>
    Более подробное описание
    <br>
    Некая информация о том что это услуга из
    <br>
    себя предоставляет более детально
  </p>
  <br class="hard">
  <a class="button-pink">Оставить заявку</a> -->

</div>