<div id="main-article" class="main-article">
  <div class="centered-content">
    <h1>Предоставляемые услуги</h1>

    <br class="hard">
    <br class="normal">

    <a class="submit-request">
      <h3>Подобрать партнера</h3>
      <br class="lite">
      <div class="partner-container">
        <img src="http://thumbs.ebaystatic.com/images/m/mlWniR1RNbjOAuU9RXBbV4g/s-l225.jpg">
      </div>
      <br class="normal">
      <p>
        Поможем подобрать партнера для знакомства.
      </p>
      <br class="lite">
      <span>Хочу найти&nbsp;&nbsp;&nbsp;</span>
      <select name="find-partner">
        <option></option>
        <option value="#/woman">Девушку</option>
        <option value="#/man">Парня</option>
      </select>
    </a>

    <br class="hard">
    <br class="hard">
    <br class="normal">

    <a class="submit-request" href="#/service/find-love">
      <h3>Поможем найти вторую половинку</h3>
      <br class="hard">
      <div id="heart-icon">
        <div class="shadow-box"></div>
      </div>
      <br class="hard">
      <p>
        Устраиваем вечера знакомств, где вы сможете вкусно покушать, <br> повеселится, и просто приятно провести время. <br> А так же получите возможность познакомится с интересными людьми, <br> приобрести друзей, или найти свою вторую половинку.
        <br class="small">
        Для того чтобы принять участие необходимо оставить заявку.
      </p>
      <br class="lite">
      <h2 class="title">Оставить заявку</h2>
    </a>
    <br class="normal">

    <br class="hard">
    <br class="hard">

    <a class="submit-request" href="#/contacts">
      <h3>Организация мероприятий</h3>
      <br class="lite">
      <div class="event-container">
        <img src="http://cucumberevents.com/Images/topheadimage4.jpg">
      </div>
      <br class="normal">
      <p>
        Организовываем мероприятия разнообразного формата: свадьбы, дни рождения, корпоративы, деловые встречи.
        <br class="small">
        Для того чтобы договориться о проведении свяжитесь с нами.
      </p>
      <br class="lite">
      <h2 class="title">Связаться с нами</h2>
    </a>

    <br class="hard">
  </div>
</div>
