<div class="small-5 small-centered columns">
  <form id="form-authorization" action="javascript:void(0);">
    <fieldset>
      <legend>Authorization</legend>
      <div class="row">
        <div class="large-12 columns">
          <label>Email address
            <input type="text" name="email" placeholder="Set you email">
          </label>
        </div>
      </div>
      <div class="row">
        <div class="large-12 columns">
          <label>Password
            <input type="password" name="password" placeholder="Set you password">
          </label>
        </div>
      </div>
      <div class="row">
        <div class="small-12 columns">
          <button class="button expand no-margin-bottom">Log in</button>
        </div>
      </div>
      <small class="error no-margin-bottom hide"></small>
    </fieldset>
  </form>
</div>