<div id="form-box-wrap">
  <div id="form-box">
    <header id="form-box-header">
      <h1>Найти вторую половинку</h1>
      <div id="poppup-closer">
        <i class="material-icons">clear</i>
      </div>
    </header>
    <form>
      <br class="normal">
      <fieldset class="double">
        <legend>Представьтесь, пожалуйста:</legend>
        <label class="tab-50">
          <input type="text">
          <br>
          <span id="title">Имя *</span>
        </label>
        <label class="tab-50">
          <input type="text">
          <br>
          <span id="title">Фамилия *</span>
        </label>
      </fieldset>
      <br class="lite">
      <fieldset class="multi">
        <legend>Дата рождения:</legend>
        <label class="tab-15">
          <select>
            <option></option>
            <option>01</option>
            <option>02</option>
            <option>03</option>
            <option>04</option>
            <option>05</option>
            <option>06</option>
            <option>07</option>
            <option>08</option>
            <option>09</option>
            <option>10</option>
            <option>11</option>
            <option>12</option>
          </select>
          <br>
          <span id="title">День *</span>
        </label>
        <label class="tab-25">
          <select>
            <option></option>
            <option>Январь</option>
            <option>Февраль</option>
            <option>Март</option>
            <option>Апрель</option>
            <option>Май</option>
            <option>Июнь</option>
            <option>Июль</option>
            <option>Август</option>
            <option>Сентябрь</option>
            <option>Октябрь</option>
            <option>Ноябрь</option>
            <option>Декабрь</option>
          </select>
          <br>
          <span id="title">Месяц *</span>
        </label>
        <label class="tab-20">
          <select id="years-select">
            <option></option>
            <option>1999</option>
            <option>1998</option>
            <option>1997</option>
            <option>1996</option>
            <option>1995</option>
            <option>1994</option>
            <option>1993</option>
            <option>1992</option>
            <option>1991</option>
            <option>1990</option>
            <option>1989</option>
            <option>1988</option>
            <option>1987</option>
            <option>1986</option>
            <option>1985</option>
            <option>1984</option>
            <option>1983</option>
            <option>1982</option>
            <option>1981</option>
            <option>1980</option>
            <option>1979</option>
            <option>1978</option>
            <option>1977</option>
            <option>1976</option>
            <option>1975</option>
            <option>1974</option>
            <option>1973</option>
            <option>1972</option>
            <option>1971</option>
            <option>1970</option>
            <option>1969</option>
            <option>1968</option>
            <option>1967</option>
            <option>1966</option>
            <option>1965</option>
            <option>1964</option>
            <option>1963</option>
            <option>1962</option>
            <option>1961</option>
            <option>1960</option>
            <option>1959</option>
            <option>1958</option>
            <option>1957</option>
            <option>1956</option>
            <option>1955</option>
            <option>1954</option>
            <option>1953</option>
            <option>1952</option>
            <option>1951</option>
            <option>1950</option>
          </select>
          <br>
          <span id="title">Год *</span>
        </label>
      </fieldset>
      <br class="lite">
      <fieldset class="multi">
        <legend>Персональные данные:</legend>
        <label class="tab-25">
          <select>
            <option></option>
            <option>Мужской</option>
            <option>Женский</option>
          </select>
          <br>
          <span id="title">Пол *</span>
        </label>
        <label class="tab-15">
          <input type="text" maxlength="3">
          <br>
          <span id="title">Рост, см *</span>
        </label>
        <label class="tab-15">
          <input type="text" maxlength="3">
          <br>
          <span id="title">Вес, кг *</span>
        </label>
        <label class="tab-30">
          <select>
            <option></option>
            <option>Карие</option>
            <option>Зеленые</option>
            <option>Серые</option>
            <option>Синие</option>
            <option>Другой</option>
          </select>
          <br>
          <span id="title">Цвет глаз</span>
        </label>
      </fieldset>
      <br class="lite">
      <fieldset class="multi">
        <legend>Вредные привычки:</legend>
        <label class="tab-25">
          <select>
            <option></option>
            <option>Да</option>
            <option>Иногда</option>
            <option>Нет</option>
          </select>
          <br>
          <span id="title">Курение</span>
        </label>
      </fieldset>
      <br class="lite">
      <fieldset class="multi">
        <legend>Семейное положение:</legend>
        <label class="tab-50">
          <select>
            <option></option>
            <option>Нет</option>
            <option>Есть, живем вместе</option>
            <option>Есть, живем порознь</option>
          </select>
          <br>
          <span id="title">Есть ли у Вас дети?</span>
        </label>
      </fieldset>
      <br class="lite">
      <fieldset class="multi">
        <legend>Расскажите о себе:</legend>
        <label class="tab-100">
          <textarea></textarea>
        </label>
      </fieldset>
      <br class="lite">
      <div class="centered-content">
        <button class="simple-button" onClick="function () { return false; };">Отправить данные</button>
      </div>
    </form>
  </div>
</div>