#registration-popup {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.4);
  overflow-y: scroll;
  padding-top: 100px;
  padding-bottom: 100px;
  box-sizing: border-box;
}

#registration-popup #form-box-wrap {
  display: table;
  height: 100%;
  width: 650px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

#registration-popup #form-box-wrap #form-box {
  display: table-cell;
  vertical-align: middle;
  background-color: #fff;
  margin-left: auto;
  margin-right: auto;
  padding: 40px;
  position: relative;
}

#registration-popup #form-box-wrap #send-form-screen {
  display: none;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
}

#registration-popup #form-box-wrap #send-form-screen .message-popup {
  position: absolute;
  bottom: 115px;
  background-color: #fff;
  width: 600px;
  left: 50%;
  margin-left: -300px;
  border-radius: 2px;
  border: 1px solid #ccc;
  padding-top: 50px;
  padding-bottom: 50px;
}

#message-popup-complete {
  display: none;
}

#registration-popup #form-box-wrap #form-box #poppup-closer {
  color: #333;
  font-size: 30px;
  width: 30px;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
  position: absolute;
  right: 0px;
  top: 1.5px;
  transition: transform 0.1s ease-in-out;
}

#registration-popup #form-box-wrap #form-box #poppup-closer:hover {
  transform: scale(1.15, 1.15);
  color: #000;
}

#registration-popup #form-box-wrap #form-box #poppup-closer .material-icons {
  font-size: 25px;
}

#registration-popup #form-box-wrap #form-box #form-box-header {
  position: relative;
}

#registration-popup #form-box-wrap #form-box #form-box-header h1 {
  font-size: 20px;
  line-height: 1.2em;
  color: #333;
  font-weight: 400;
}

#registration-popup #form-box-wrap #form-box #main-photo-image {
  /*max-width: 150px;*/
  /*max-height: 150px;*/
  display: block;
  height: 150px;
}

fieldset {
  border: none;
  padding: 0px;
  margin: 0px;
}

fieldset legend {
  font-size: 15px;
  font-family: "Cuprum";
}

fieldset.double label, fieldset.multi label {
  float: left;
}

fieldset.double label:nth-child(3) {
  margin-left: 3%;
}

fieldset.multi label:nth-child(3),
fieldset.multi label:nth-child(4),
fieldset.multi label:nth-child(5),
fieldset.multi label:nth-child(6) {
  margin-left: 3%;
}

label.tab-15 {
  width: 12.6%;
}

label.tab-20 {
  width: 17.6%;
}

label.tab-25 {
  width: 22.6%;
}

label.tab-30 {
  width: 28.4%;
}

label.tab-35 {
  width: 33.4%;
}

label.tab-40 {
  width: 38.4%;
}

label.tab-45 {
  width: 43.4%;
}

label.tab-50 {
  width: 48.5%;
}

label.tab-100 {
  width: 100%;
}

label input {
  width: 100%;
}

label select {
  width: 100%;
}

label textarea {
  width: 100%;
}

label input.tab-20 {
  width: 20%;
}

label input.tab-30 {
  width: 30%;
}

label input.tab-50 {
  width: 50%;
}

input[type="text"],
input[type="email"],
input[type="number"] {
  border: 1px solid #ccc;
  background-color: #fafafa;
  box-sizing: border-box;
  border-radius: 2px;
  margin: 6px 0px 4px;
  font-size: 15px;
  height: 42px;
  overflow: hidden;
  transition: background 0.1s ease-in-out;
}

input[type="text"],
input[type="email"] {
  padding: 12px;
}
input[type="number"] {
  padding: 0px 0px 0px 12px;
}

select {
  padding: 0px 12px;
  border: 1px solid #ccc;
  background-color: #fafafa;
  box-sizing: border-box;
  border-radius: 2px;
  margin: 6px 0px 4px;
  font-size: 15px;
  height: 42px;
}

textarea {
  padding: 12px;
  border: 1px solid #ccc;
  background-color: #fafafa;
  box-sizing: border-box;
  border-radius: 2px;
  margin: 6px 0px 4px;
  font-size: 15px;
  height: 140px;
}

input:focus,
select:focus,
textarea:focus {
  background: #fff;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  background-color: #fafafa !important;
  background-image: none !important;
  color: inherit !important;
}

label #title {
  font-weight: 13px;
  font-family: "Cuprum";
}