<header class="accordion-navigation-header clearfix">
  <h6><%= new Date(createdAt).toGMTString() %></h6>
  <span id="toggle-activator" class="accordion-navigation-header-title">
    <%= firstName %> <%= lastName %> 
  </span>
  <% if (accepted === 0) { %>
    <span class="label radius">New</span>
  <% } %>
  <% if (accepted === 1) { %>
    <span class="label secondary radius">Denied</span>
  <% } %>
  <% if (accepted === 2) { %>
    <span class="label success radius">Accepted</span>
  <% } %>
  <ul class="button-group round right">
    <li>
      <button id="delete-button" class="button alert tiny no-margin-bottom">Delete</button>
    </li>
    <% if (accepted !== 1) { %>
      <li>
        <button id="deny-button" class="button secondary tiny no-margin-bottom">Deny</button>
      </li>
    <% } %>
    <% if (accepted !== 2) { %>
      <li>
        <button id="accept-button" class="button success tiny no-margin-bottom">Accept</button>
      </li>
    <% } %>
  </ul>
</header>
<div class="content clearfix">
  <ul class="pricing-table no-margin-bottom">
    <li class="title">Email: <%= email %></li>
    <li class="price">Phone: <%= phone %></li>
    <li class="bullet-item">
      <img id="main-photo" src="<%= mainPhotoUrl %>">
    </li>
    <li class="bullet-item">Gender:
      <% switch (gender) { case 0: %>
          Man
        <% break; case 1: %>
          Woman
        <% break; } %>
    </li>
    <li class="bullet-item">Age: <%= (new Date(Date.now() - new Date(birthday).getTime())).getUTCFullYear() - 1970 %> year
    </li>
    <% if (typeof looking === "number") { %>
      <li class="bullet-item">Looking for:
        <% switch (looking) { case 0: %>
            Man
          <% break; case 1: %>
            Woman
          <% break; case 2: %>
            Other
          <% break; } %>
      </li>
    <% } %>
    <% if (typeof intention === "number") { %>
      <li class="bullet-item">Intention:
        <% switch (intention) { case 0: %>
            Friendship
          <% break; case 1: %>
            Love relationship
          <% break; case 2: %>
            Other
          <% break; } %>
      </li>
    <% } %>
    <% if (height) { %>
      <li class="bullet-item">Height: <%= height %> cm</li>
    <% } %>
    <% if (weight) { %>
      <li class="bullet-item">Weight: <%= weight %> kg</li>
    <% } %>
    <% if (typeof eye === "number") { %>
      <li class="bullet-item">Eye color:
        <% switch (eye) { case 0: %>
            Brown
          <% break; case 1: %>
            Green
          <% break; case 2: %>
            Gray
          <% break; case 3: %>
            Blue
          <% break; case 4: %>
            Other
          <% break; } %>
      </li>
    <% } %>
    <% if (typeof work === "number") { %>
      <li class="bullet-item">Work:
        <% switch (work) { case 0: %>
            Study
          <% break; case 1: %>
            Work
          <% break; case 2: %>
            Freelance
          <% break; case 3: %>
            Other
          <% break; } %>
      </li>
    <% } %>
    <% if (typeof smoke === "number") { %>
      <li class="bullet-item">Smoke:
        <% switch (smoke) { case 0: %>
            Yes
          <% break; case 1: %>
            Sometimes
          <% break; case 2: %>
            Not
          <% break; } %>
      </li>
    <% } %>
    <% if (typeof drink === "number") { %>
      <li class="bullet-item">Drink:
        <% switch (drink) { case 0: %>
            Yes
          <% break; case 1: %>
            Sometimes
          <% break; case 2: %>
            Not
          <% break; } %>
      </li>
    <% } %>
    <% if (about) { %>
      <li class="bullet-item">About: <%= about %></li>
    <% } %>
    <% if (accepted === 2) { %>
      <li class="cta-button">
        <button id="deny-button" class="button secondary">Deny</button>
      </li>
    <% } %>
    <% if (accepted === 0 || accepted === 1) { %>
      <li class="cta-button">
        <button id="accept-button" class="button success">Accept</button>
      </li>
    <% } %>
  </ul>
</div>