<br class="hard">
<h3 class="centered-content">Поиск</h3>
<br class="normal">
<form name="filter-form" action="javascript:void(0);">
  <fieldset class="multi">
    <legend>Основные параметры:</legend>
    <label class="tab-50">
      <select name="lookingFor">
        <option value=""></option>
        <option value="0">Парня</option>
        <option value="1">Девушку</option>
        <option value="2">Другое</option>
      </select>
      <br>
      <span id="title">Ищу</span>
    </label>
    <label class="tab-50">
      <select name="intention">
        <option value=""></option>
        <option value="0">Дружба</option>
        <option value="1">Близкие отношения</option>
        <option value="2">Другое</option>
      </select>
      <br>
      <span id="title">Цель</span>
    </label>
  </fieldset>
  <br class="lite">
  <fieldset class="double">
    <legend>
      Возраст:
      <span id="age-from"></span>
      -
      <span id="age-to"></span>
      лет
    </legend>
    <br class="lite">
    <div id="slider-age"></div>
    </label>
  </fieldset>
  <br class="lite">
  <fieldset class="double">
    <legend>
      Рост:
      <span id="height-from"></span>
      -
      <span id="height-to"></span>
      см
    </legend>
    <br class="lite">
    <div id="slider-height"></div>
    </label>
  </fieldset>
  <br class="lite">
  <fieldset class="double">
    <legend>
      Вес:
      <span id="weight-from"></span>
      -
      <span id="weight-to"></span>
      кг
    </legend>
    <br class="lite">
    <div id="slider-weight"></div>
    </label>
  </fieldset>
  <br class="normal">
  <fieldset class="multi">
    <legend>Занятие:</legend>
    <label class="tab-30">
      <select name="work">
        <option value=""></option>
        <option value="1">Учусь</option>
        <option value="2">Работаю</option>
        <option value="3">Фриланс</option>
        <option value="4">Другое</option>
      </select>
      <br>
      <span id="title"></span>
    </label>
  </fieldset>
  <br class="lite">
  <fieldset class="multi">
    <legend>Цвет глаз:</legend>
    <label class="tab-30">
      <select name="eyeСolor">
        <option value=""></option>
        <option value="1">Карие</option>
        <option value="2">Зеленые</option>
        <option value="3">Серые</option>
        <option value="4">Синие</option>
        <option value="5">Другой</option>
      </select>
      <br>
      <span id="title"></span>
    </label>
  </fieldset>
  <br class="lite">
  <fieldset class="multi">
    <legend>Вредные привычки:</legend>
    <label class="tab-25">
      <select name="smoke">
        <option value=""></option>
        <option value="1">Да</option>
        <option value="2">Нет</option>
        <option value="3">Иногда</option>
      </select>
      <br>
      <span id="title">Курение</span>
    </label>
    <label class="tab-25">
      <select name="alcohol">
        <option value=""></option>
        <option value="1">Да</option>
        <option value="2">Нет</option>
        <option value="3">Иногда</option>
      </select>
      <br>
      <span id="title">Алкоголь</span>
    </label>
  </fieldset>
  <br class="normal">
  <fieldset class="double">
    <legend>Быстрый поиск:</legend>
    <label class="tab-15">
      <input name="id" type="text">
      <br>
      <span id="title">ID анкеты</span>
    </label>
  </fieldset>
  <br class="normal">
  <div class="centered-content">
    <button id="send-button" class="simple-button">Искать</button>
  </div>
</form>
<br class="hard">